
@{
    ViewData["Title"] = "Consulting";
}

<h1>Consulting</h1>

<div class=" container mt-4">
    <div class="row ">
        <div class="col-md-3">
            <div class="card">
                @* <img src="https://www.keenesystems.com/hubfs/blog-images/bigstock-It-Consultant-Presenting-Tag-C-435713942.jpg" class="card-img-top" alt="..."> *@
                <div class="card-body">
                    <h5 class="card-title">IT Consulting</h5>
                    <p class="card-text">
                        IT Consulting focuses on aligning technology strategy with business goals, helping organizations navigate digital transformation through cloud migration, cybersecurity, and infrastructure modernization. Consultants in this space leverage deep technical expertise to optimize legacy systems and implement cutting-edge solutions like AI and Data Analytics.
                    </p>
                </div>
            </div>
        </div>
        <div class=" col-md-3">
            <div class="card">
                @*@<img src="https://theyellowspot.com/wp-content/uploads/2020/06/HR-consultancy.jpg" class="card-img-top" alt="..."> *@
                <div class="card-body">
                    <h5 class="card-title">HR Consulting</h5>
                    <p class="card-text">
                        HR Consulting addresses the "human" side of enterprise, specializing in talent management, organizational design, and workforce transformation. These services help companies refine their recruitment strategies, enhance employee engagement, and implement modern HR technologies (like Oracle HCM or Workday) to build a future-ready workforce..
                        </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                @*<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRW_hz0h5QB9UT5ibmNWJCBWwK1T-VDC_jLAA&s" class="card-img-top" alt="..."> *@
                <div class="card-body">
                    <h5 class="card-title">Business Solutions</h5>
                    <p class="card-text">
                        Business Solutions provide integrated strategies to solve specific operational challenges, ranging from financial optimization to supply chain efficiency. By combining industry-specific knowledge with process automation (such as SAP or Salesforce), these solutions streamline workflows to drive profitability and long-term sustainable growth.
                        </p>
                </div>
            </div>

        </div>
    </div>
</div>