
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Training</h5>
                    <p class="card-text">
                        A comprehensive learning ecosystem designed to bridge the gap between academic theory and project-ready technical expertise.
                    </p>
                    <a href="/Services/Training" class="btn btn-primary">Training</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Consulting</h5>
                    <p class="card-text">
                        Strategic advisory services that align technology, human capital, and operational processes with global business goals.
                    </p>
                    <a href="/Services/Consulting" class="btn btn-primary">Consulting</a>
                </div>
            </div>
        </div>

    </div>
</div>

