@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-primary" role="alert">
    Capgemini helps businesses imagine their future and make it real with AI, technology and people.

</div>

<ul class="list-group">
    <li class="list-group-item">Email :- Capgemini@gmail.com</li>
    <li class="list-group-item">Phone No. :- 123456789</li>
    <li class="list-group-item">Post Address :- New Delhi,India</li>
</ul>
