
@{
    ViewData["Title"] = "Tools";
}

<div class="mb-3">
    <h5>Engineering Stack</h5>
    <span class="badge rounded-pill bg-success">GitLab</span>
    <span class="badge rounded-pill bg-success">Azure DevOps</span>
    <span class="badge rounded-pill bg-info text-dark">SovBox AI</span>
    <span class="badge rounded-pill bg-dark">Visual Studio Code</span>
</div>

