@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Training Portal</h1>
    <br />
    <p>a simple Training Portal to display information related to our training offerings.</p>
        <br />
    <h1 class="display-6">by Aaroh Gaur 22BCS17238 Batch-4</h1>
</div>
